.bg-box {
    width: 100%;
    height: 1000px;
    background-color: green;
    background-image: url(../img/dom.webp),url(../img/lamp-png.png),url(../img/green.png),url(../img/dog.webp),url(../img/donut.png);
    background-repeat: no-repeat,repeat-x,repeat-x,repeat-y,repeat-y;
    background-position: center,top,bottom,left,right;
    background-size: auto,50px,600px,50px,50px;
}
